{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"]
  }
}
